# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# LOCAL
# DATABASE_URL="postgresql://postgres:root@localhost:5432/pyxis?schema=public"

# SUPABASE
# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL=""
# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL=""

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SEO_TITLE="Pyxis"
NEXT_PUBLIC_SEO_AUTHOR="Pyxis"
NEXT_PUBLIC_SEO_DESCRIPTION=""
NEXT_PUBLIC_SEO_LANGUAGE="id-ID"
NEXT_PUBLIC_SEO_LOCALE="id-ID"
# NEXT_PUBLIC_SEO_SITE_URL=""
# NEXT_PUBLIC_SEO_EMAIL=""
# NEXT_PUBLIC_SEO_PHONE=""
# NEXT_PUBLIC_SEO_INSTAGRAM=""
# NEXT_PUBLIC_SEO_X=""
# NEXT_PUBLIC_SEO_FACEBOOK=""
# NEXT_PUBLIC_SEO_YOUTUBE=""

IMAGEKIT_URL=""
IMAGEKIT_PRIVATE_KEY=""
IMAGEKIT_PUBLIC_KEY=""

# Resend
# SMTP_HOST=smtp.resend.com
# SMTP_PORT=587
# SMTP_USER=resend
# SMTP_PASS=""

# Google App Password (2FA needed)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=""